<!DOCTYPE html>
<html>
<head>
    <title>Stock Screener</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        h1 a {
            text-decoration: none;
        }

        table {
            margin-top: 30px;
            border-spacing: 0;
        }

        td, th {
            padding: 10px;
            text-align: left;
        }

        td a:focus {
            color: red;
        }

        .bg-gray {
            background-color: rgba(245, 245, 245, 1);
        }

        .bg-green {
            background-color: rgba(76, 175, 80, 0.3);
        }
    </style>
</head>
<body>

<div class="w3-container w3-green">
    <h1><a href="#" onclick="window.location.reload();">Stock Screener</a></h1>
</div>

<div class="w3-row-padding">
    <table>
        {% for report in reports -%}
            {% set day = datetime.fromisoformat(report.timestamp).day + datetime.fromisoformat(reports[0].timestamp).day -%}
            <tr class="date-{{ report.timestamp.split('T')[0] }}{{ ' bg-gray' if (day % 2) == 0 else '' }}">
                <td>
                    <a href="{{ report.folder }}/index.html">{{ report.title }}</a>
                    {% if report.state == 'incomplete' %}
                        <span style="color:red">🕑{{ report.timestamp_end.split('T')[1][:5] }}</span>
                    {% endif %}
                    {% if (report.progress | default(100)) < 100 %}
                        <span>⌛</span>
                    {% endif %}
                </td>
                <td>{{ report['symbols_long'] | length }}x Long, {{report['symbols_short'] | length}}x Short</td>
            </tr>
        {% endfor %}
    </table>

</div>

<script>
    const today = new Date().toISOString().split('T')[0];
    const trs = document.getElementsByClassName('date-' + today);
    Array.from(trs).forEach((tr) => {
        tr.classList.add('bg-green');
    })
</script>

</body>
</html>