<!DOCTYPE html>
<html>
<head>
    <title>Stock Screener</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        table {
            margin-top: 30px;
            border-spacing: 0;
        }

        td, th {
            padding: 10px;
            text-align: left;
        }

        a:focus {
            color: red;
        }
    </style>
</head>
<body>

<div class="w3-container w3-green">
    <h1>Stock Screener</h1>
</div>

<div class="w3-row-padding">
    <table>
        {% for report in reports %}
            <tr class="date-{{ report.timestamp.split('T')[0] }}">
                <td><a href="{{ report.link }}">{{ report.title }}</a></td>
                <td>{{ report.summary }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

<script>
    const today = new Date().toISOString().split('T')[0];
    const trs = document.getElementsByClassName('date-' + today);
    Array.from(trs).forEach((tr) => {
        tr.style.backgroundColor = "rgba(76, 175, 80, 0.3)";
    })
</script>

</body>
</html>