<!DOCTYPE html>
<html>
<head>
    <title>Stock Screener</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        h1 a {
            text-decoration: none;
        }

        table {
            margin-top: 30px;
            border-spacing: 0;
        }

        td, th {
            padding: 10px;
            text-align: left;
        }

        td a:focus {
            color: red;
        }

        .bg-gray {
            background-color: rgba(245, 245, 245, 1);
        }

        .bg-green {
            background-color: rgba(76, 175, 80, 0.3);
        }
    </style>
</head>
<body>

<div class="w3-container w3-black">
    <h1><a href="#" onclick="window.location.reload();">Stock Screener</a></h1>
</div>

{%- set weekdays = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'] %}

<div class="w3-row-padding">
    <table>
        {% for report in reports -%}
            {% set day = report.timestamp_start.day + reports[0].timestamp_start.day -%}
            <tr class="date-{{ report.timestamp_start.date().isoformat() }}{{ ' bg-gray' if (day % 2) == 0 else '' }}">
                <td>
                    <a href="{{ report.folder }}/index.html">
                        {{ weekdays[report.timestamp_start.weekday()] }} {{ report.timestamp_start.strftime("%d.%m.%y %H:%M") }}
                    </a>
                    {% if report.state == 'incomplete' %}
                        <br>
                        <span style="color:red">🕑{{ report.timestamp_end.strftime("%H:%M") }}</span>
                    {% endif %}
                </td>
                <td>{{ report['symbols_long'] | length }}x Long, {{report['symbols_short'] | length}}x Short</td>
            </tr>
        {% endfor %}
    </table>

</div>

<script>
    const today = new Date().toISOString().split('T')[0];
    const trs = document.getElementsByClassName('date-' + today);
    Array.from(trs).forEach((tr) => {
        tr.classList.add('bg-green');
    })
</script>

</body>
</html>